.nav{
height: 50px;
background-color: #orange;
position: relative;
}
.nav div{
display: inline-block;
position: absolute;
left: 0px;
padding:15px;
top: 50%;
transform: translateY(-50%);
font-size:20px;
color:white;
}
.nav ul{
position: absolute;
right: 5px;
top: 50%;
transform: translateY(-50%);
}
.nav ul li{
display: inline-block;
}
.nav ul li a{
color:white;
padding:5px;
}
